body {
  margin: 0;
  padding: 0;
  background: #222;
  color: black;
  text-align: center;
  align-items: center;
}

header {
  background: #ccc;
  color: #444;
}

nav {
  background: #F08080;
  display: none;
  z-index: 100;
  border-radius: 10px;
}

nav a {
  padding: 1em;
  display: block;
  color: #F0FFFF;
}

#menu {
  padding: 1em;
  background: #DC143C;
  display: block;
  color: #F0FFFF;
  border-radius: 10px;
}

.show-menu {
  display: block;
}

a {
  color: #000;
}

p {
  font-size: 1.2em;
  background-color: #F0FFFF;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
  background-color: #8B008B;
  color: #F0FFFF;
  border-radius: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  padding: .5em;
  background-color: #cc66ff;
  color: #F0FFFF;
  width: 300px;
  text-align: center;
  border: 2px solid #8B008B;
  border-radius: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h3 {
  font-size: 1.2em;
  padding: .5em;
  background-color: #F08080;
  color: #F0FFFF;
  margin-top: 10px;
  width: 300px;
  text-align: center;
  border: 2px solid #DC143C;
  border-radius: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

main {
  background: #F0FFFF;
  border-radius: 10px;
}

#banner img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

figure {
  width: 100%;
  overflow: hidden;
}

.player1 figure {
  margin: 0;
}

.player2 figure {
  margin: 0;
}

figure:hover figcaption {
  transform: translateY(0em);
  opacity: 0.78;
}

figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #F08080;
  color: #F0FFFF;
  opacity: 0;
  transition: all .5s;
  border-radius: 10px;
}

article img {
  width: 100%;
  height: 100%;
  display: block;
}

figure img {
  width: 100%;
  height: 100%;
  margin-bottom: -4em;
  display: block;
  border-radius: 10px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
}

#players {
  padding: 60px 0;
  text-align: center;
}

#players article {
  width: 100%;
  float: left;
  background-color: #F0FFFF;
  border-radius: 10px;
}

#players article:first-child {
  margin-right: 20px;
}

#players h2 {
  display: block;
  margin: 0 auto 20px auto;
}

.player1 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top: 4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.player2 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top: 4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

.logo1 img {
  width: 30%;
  float: left;
  margin-left: 40%;
}

#teams {
  padding: 60px 0;
  text-align: center;
}

#teams article {
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  border-radius: 10px;
}

#teams article:first-child {
  margin-right: 20px;
}

#teams h3 {
  display: block;
  margin: 0 auto 20px auto;
}

#teams h2 {
  display: block;
  margin: 0 auto 20px auto;
}

#leagues {
  padding: 60px 0;
  text-align: center;
}

#leagues article {
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  border-radius: 10px;
}

#leagues article:first-child {
  margin-right: 20px;
}

#leagues h2 {
  display: block;
  margin: 0 auto 20px auto;
}

#fixtures {
  padding: 60px 0;
  text-align: center;
}

#fixtures section {
  width: 100%;
  float: left;
  background-color: #f5f5f5;
  border-radius: 10px;
}

#fixtures section:first-child {
  margin-right: 20px;
}

#fixtures h2 {
  display: block;
  margin: 0 auto 20px auto;
}

#signup {
  padding: 60px 0;
  text-align: center;
}

#signup section {
  width: 100%;
  float: left;
  background-color: #F0FFFF;
  border-radius: 10px;
}

#signup section:first-child {
  margin-right: 20px;
}

#signup h2 {
  display: block;
  margin: 15px auto 20px auto;
}

@keyframes movingBox {
  0% {
    top: 0px;
  }

  25% {
    top: -1em;
  }

  50% {
    top: 1em;
  }

  100% {
    top: 0px;
  }
}

#map {
  margin-top: 20px;
  height: 600px;
  width: 100%;
  border: 2px solid #8B008B;
  border-radius: 10px;
}

#btn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 0px;
  z-index: 99;
  background-color: #cc66ff;
  color: #F0FFFF;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

#btn a {
  color: #F0FFFF;
}

input[type="radio"] {
  display: none;
}

.tab_container section {
  display: none;
  padding: 1em;
  clear: both;
}

.tab_container label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  color: white;
  cursor: pointer;
  background: black;
  line-height: 3em;
  border-radius: 10px;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
}

[id^="tab"]:checked + label {
  background: #f5f5f5;
}

[id^="tab"]:checked + label .fa {
  color: red;
}

.tab-content {
  background: #F0FFFF;
  border-radius: 10px;
}

.tab_container section * {
  animation: fadeIn 0.7s ease-in-out;
}

@keyframes fadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#iframe {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #8B008B;
}

#iframe1 {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  border: 2px solid #8B008B;
}

.player1 figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1em;
  padding: .1em;
  transform: translateY(-2em);
  opacity: 0;
  transition: all .5s;
}

.player1 figure:hover figcaption {
  transform: translateY(-3.1em);
  opacity: 0.78;
  height: 115px;
}

#tab_container article {
  width: 100%;
  float: left;
  background-color: #F0FFFF;
  border-radius: 10px;
}

#tab_container h2 {
  display: block;
  margin: 0px auto 20px auto;
}

#news {
  padding: 60px 0;
  text-align: center;
}

#news section {
  width: 100%;
  float: left;
  background-color: #F0FFFF;
  border-radius: 10px;
}

#news section:first-child {
  margin-right: 20px;
}

#news h2 {
  display: block;
  margin: 15px auto 20px auto;
}

#demo {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  nav a {
    width: 44%;
    display: inline-block;
}

  nav a:hover {
    background: #cc66ff;
}

  h1 {
    font-size: 2em;
}

  main {
    width: 80%;
    margin: 0 auto;
}

  body {
    background: #D3D3D3;
}

  #banner img {
    width: 80%;
    height: 300px;
}

  .flex-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-direction: row;
}

  .player1 {
    position: relative;
    box-sizing: border-box;
    width: 40%;
    height: 250px;
    padding-top: 4em;
    animation-name: movingBox;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

  .player2 {
    position: relative;
    box-sizing: border-box;
    width: 40%;
    height: 250px;
    padding-top: 4em;
    animation-name: movingBox;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

  .player1 figcaption {
    box-sizing: border-box;
    height: 4em;
    line-height: 1em;
    padding: .1em;
    transform: translateY(-2em);
    opacity: 0;
    transition: all .5s;
}

  .player1 figure:hover figcaption {
    transform: translateY(-2.2em);
    opacity: 0.78;
    height: 100px;
}

  #tab_container h2 {
    display: block;
    margin: 0px auto 20px auto;
}

  h2 {
    width: 40%;
}

  h3 {
    width: 40%;
}

  #iframe {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #8B008B;
}

  #iframe1 {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    border: 2px solid #8B008B;
}

.logo1 img {
  width: 20%;
  float: left;
  margin-left: 40%;
}
}

/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  header {
    background: #DCDCDC;
    color: #ccc;
}

  body {
    background: #696969;
}

  nav {
    display: block;
}

  nav a {
    line-height: 3em;
    width: inherit;
}

#menu {
    display: none;
}

main {
    max-width: 100%;
    background-color: #F0FFFF;
}

#banner img {
    max-width: 80%;
    height: 450px;
}

nav a:hover {
    background: #8B008B;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 1em;
    background-color: #8B008B;
    color: #F0FFFF;
}

#leagues h3 {
    width: 90%;
}

.player1 {
    position: relative;
    box-sizing: border-box;
    max-width: 350px;
    height: 300px;
    padding-top: 4em;
    animation-name: movingBox1;
    animation-duration: 5s;
    animation-iteration-count: 3;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.player2 {
    position: relative;
    box-sizing: border-box;
    width: 350px;
    height: 300px;
    padding-top: 4em;
    animation-name: none;
}


#btn {
  display: none;
  position: fixed;
  bottom: 20px;
  float: left;
  z-index: 99;
  background-color: #F08080;
  color: #F0FFFF;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

#btn:hover {
  background-color: #cc66ff;
}

.player1:hover {
  transform: scale(1.1);
}

#leagues img:hover {
  transform: scale(1.1);
}

.logo1 img:hover {
  transform: scale(2.3);
}

.player1 figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1em;
  padding: .1em;
  transform: translateY(-4em);
  opacity: 0;
  transition: all .5s;
}

.player1 figure:hover figcaption {
  transform: translateY(-5em);
  opacity: 0.78;
  height: 100px;
}

.logo1 {
  width: 350px;
  margin-bottom: 70px;
  margin-left: 0px;
}

#signup h2 {
  margin-top: 20px;
}

#players h2 {
  margin-top: 20px;
}

#tab_container h2 {
  margin-top: 20px;
}

#iframe {
  width: 60%;
  height: 500px;
}

#iframe1 {
  width: 60%;
  height: 500px;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
}
}

/* END SECOND BREAKPOINT */