body {
  margin:0;
  padding:0;
  background: #222;
  color: black;
  text-align: center;
}
header {
  background: #ccc;
  color: #444;
}
nav {
  background: #aaa;
  display: none;
  z-index: 100;
}
nav a {
  padding: 1em;
  display: block;
}
#menu {
  padding: 1em;
  background: #fff;
  display: block;
}
.show-menu {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}
h1 {
  font-size: 1.5em;
  margin: 0;
  padding: 1em;
}
main {
  background: #eee;
  padding: .5em;
}
#banner img {
    width:100%;
}
}
figure {
  width:100%;
  overflow: hidden;
}
figure:hover figcaption {
  transform: translateY(0em);
  opacity: 0.78;
}
figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  color: black;
  opacity: 0;
  transition: all .5s;
}

figure img {
  width: 100%;
  height: 100%;
  margin-bottom: -4em;
  display: block;
}

.teams {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.players {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.player1 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top:4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1; /* infinite */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.player2 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top:4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1; /* infinite */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.player3 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top:4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1; /* infinite */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.player4 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top:4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1; /* infinite */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.player5 {
  position: relative;
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding-top:4em;
  animation-name: movingBox;
  animation-duration: 5s;
  animation-iteration-count: 1; /* infinite */
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes movingBox {
    0% {top: 0px;}

    100% {top: -4em;}
}
section {
  width:100%;
  overflow: hidden;
}
section:hover figcaption {
  transform: translateY(0em);
  opacity: 0.78;
}
figcaption {
  box-sizing: border-box;
  height: 4em;
  line-height: 1.2em;
  padding: .25em;
  transform: translateY(4em);
  background: #fff;
  color: black;
  opacity: 0;
  transition: all .5s;
}

section img {
  width: 100%;
  height: 100%;
  margin-bottom: -4em;
  display: block;
}

/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  header {
    background: #444;
    color: #ccc;
  }
  nav a {
    width: 44%;
    display: inline-block;
  }
  nav a:hover {
    background: #777;
  }
  h1 {
    font-size: 2em;
  }
  main {
    width: 90%;
    margin: 0 auto;
  }

}
/* END FIRST BREAKPOINT */


/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  header {
    background: #222;
    color: #ccc;
  }
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }

}
/* END SECOND BREAKPOINT */
